name: Build ZMK

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git python3-pip ninja-build gperf ccache dfu-util
          pip3 install west

      - name: Initialize ZMK repo
        run: west init -m https://github.com/zmkfirmware/zmk --mr main
      - name: Update west modules
        run: west update

      - name: Build firmware
        run: west build -s app -b nice_nano_v2
